{% extends "base.html" %}

{% block content %}
    {{ section.content | safe }}

    {% if config.extra.list_pages %}
    <ul class="posts">
        {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            <span class="date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Latest blog posts:</h3>
    {% set pages = get_section(path="posts/_index.md") | get(key="pages") %}
    <ul>
    {% for page in pages | slice(end=3) %}
      <li>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        {{ page.date | date(format="%d %B %Y") }}
        <br />
        {{ page.description }}
        <br />
        {{ page.summary }}
      </li>
    {% endfor %}
    </ul>

    {% if paginator %}
        {% include "partials/pagination.html" %}
    {% endif %}
{% endblock %}
